div
{
    padding: 0.5em 0;
}
.card
{
    margin: 1.5em 0.5em;
    max-width: 800px;
    padding-bottom: 2em;
}
.tabs
{
    max-width: 800px;
    margin: auto;
}
.download img
{
    height: 25px;
    margin-right: 1em;
}
.download a
{
    margin-right: 8px;
}
mat-expansion-panel
{
    margin: auto 0.5em;
}